.root {
  background-color: #ff0000;
  -fx-font-family: "Arial";
  font-family: "Arial";
  -fx-font-size: 14px;
  font-size: 14px;
}

.sidebarPane {
  -fx-border-color: grey;
  -fx-border-width: 3;
  -fx-background-color: black;
  -fx-accent: #696969;
}
.sidebarTitle {
  -fx-font-family: "Arial";
  font-family: "Arial";
  -fx-text-fill: white;
  -fx-max-width: 150px; /* Adjust the width as needed */
  -fx-text-overrun: ellipsis;
  -fx-alignment: top-left;
}
.sidebarHardware {
  -fx-font-family: "Arial";
  font-family: "Arial";
  -fx-text-fill: rgb(209, 209, 209);
  -fx-max-width: 150px; /* Adjust the width as needed */
  -fx-text-overrun: ellipsis;
  -fx-alignment: top-left;
  -fx-font-size: 14px;
}
.sidebarLabel {
  -fx-font-family: "Arial";
  font-family: "Arial";
  -fx-text-fill: white;
  -fx-alignment: center; /* Center the text */
  -ms-flex-item-align: center;
  -fx-font-size: 22px;
}

.chartPane {
  -fx-background-color: grey;
}
.chartTitle {
}
.chartSubtitle {
}
.chart {
  -fx-border-color: #000000;
}

.processPane {
  -fx-background-color: white;
  -fx-border-color: black;
}
.processTitle {
}
.processLabel {
}

.infoPane {
}
.infoTitle {
}
.infoLabel {
  -fx-border-color: grey;
}

.logPane {
}
.logTitle {
}
.logLabel {
  -fx-border-color: grey;
}
