.root {
  background-color: #ff0000;
  -fx-font-family: "Arial";
  font-family: "Arial";
  -fx-font-size: 14px;
  font-size: 14px;
}

.sidebarPane {
  -fx-border-color: grey;
  -fx-border-width: 3;
  -fx-background-color: black;
  -fx-accent: #696969;
}
.sidebarTitle {
  -fx-font-family: "Arial";
  font-family: "Arial";
  -fx-text-fill: white;
  -fx-max-width: 150px; /* Adjust the width as needed */
  -fx-text-overrun: ellipsis;
  -fx-alignment: top-left;
  -fx-font-size: 20px;
}
.sidebarHardware {
  -fx-font-family: "Arial";
  font-family: "Arial";
  -fx-text-fill: rgb(209, 209, 209);
  -fx-max-width: 150px; /* Adjust the width as needed */
  -fx-text-overrun: ellipsis;
  -fx-alignment: top-left;
  -fx-font-size: 14px;
}
.sidebarLabel {
  -fx-font-family: "Arial";
  font-family: "Arial";
  -fx-text-fill: white;
  -fx-alignment: center; /* Center the text */
  -ms-flex-item-align: center;
  -fx-font-size: 22px;
}

.chartPane {
  -fx-background-color: grey;
}
.chartTitle {
  -fx-font-family: "Arial";
  font-family: "Arial";
  -fx-text-fill: rgb(36, 35, 35);
  -fx-font-size: 23px;
  -fx-font-weight: bold;
}
.chartSubtitle {
}
.chart {
  -fx-border-color: #000000;
}

.processPane {
  -fx-background-color: rgb(230, 230, 230);
  -fx-border-color: black;
  -fx-border-width: 2px;
}
.processTitle {
  -fx-font-family: "Arial";
  font-family: "Arial";
  -fx-text-fill: rgb(36, 35, 35);
  -fx-font-size: 18px;
  -fx-font-weight: bold;
}
.processLabel {
  -fx-font-family: "Arial";
  font-family: "Arial";
  -fx-text-fill: rgb(36, 35, 35);
  -fx-font-size: 10px;
}

.infoPane {
  -fx-background-color: grey;
  -fx-border-color: black;
}
.infoTitle {
  -fx-font-family: "Arial";
  font-family: "Arial";
  -fx-text-fill: rgb(36, 35, 35);
  -fx-font-size: 20px;
  -fx-font-weight: bold;
}
.infoLabel {
  -fx-border-color: #3b3b3b;
  -fx-border-width: 2px;
  -fx-border-style: solid;
  -fx-font-family: "Arial";
  font-family: "Arial";
  -fx-text-fill: rgb(36, 35, 35);
  -fx-font-size: 14px;
  -fx-background-color: #f0f0f0;
}

.logPane {
}
.logTitle {
}
.logLabel {
  -fx-border-color: grey;
}
